:root {
  --redColor: #e3403a;
  --blueColor: cornflowerblue;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.restart {
  position: fixed;
  left: 15px;
  top: 15px;
}

.button {
  cursor: pointer;
  background: var(--redColor);
  border: 1px solid #da251f;
  box-shadow: 0px 2px 0 #d6251f, 2px 4px 6px #e02a24;
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
  color: #fff;
  font-size: 16px;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  outline: none;
  &:hover {
    background: #e02c26c7;
    text-decoration: none;
    text-shadow: -1px -1px 0 #c2211c;
    transition: all 250ms linear;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .player {
    font-weight: bold;
    font-size: 1.7em;
    &.x {
      color: var(--redColor);
    }
    &.o {
      color: var(--blueColor);
    }
  }

  .game-started {
    min-height: 50px;

    p {
      margin-top: 0;
    }
  }

  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &.disabled {
      pointer-events: none;
    }

    .field {
      height: 50px;
      width: 50px;
      user-select: none;
      cursor: pointer;
      border: 1px solid black;
      padding: 0.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4em;

      &:hover {
        background: gray;
      }

      &[data-selected="true"] {
        background: lightgray;
        cursor: not-allowed;
      }

      &[data-value="x"] {
        color: var(--redColor);
      }

      &[data-value="o"] {
        color: var(--blueColor);
      }
    }
  }
}

.logs-container {
  min-height: 250px;
  max-height: 250px;
  display: flex;
  flex-direction: column;

  .logs {
    padding: 0.5em;
    border: 3px dotted black;
    list-style: none;
    flex: 1 1 auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    .log {
      margin: 0.2em;

      &.player-x {
        color: var(--redColor);
      }

      &.player-o {
        color: var(--blueColor);
      }

      .datetime {
        font-weight: bold;
        color: gray;
        margin-right: 1em;
      }

      .text {
        margin: 0;
        display: inline-block;
      }
    }
  }
}
