.board {
  width: 60vmin;
  height: 60vmin;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}

.field {
  user-select: none;
  cursor: pointer;
  border: 1px solid black;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field:hover {
  background: gray;
}

.field[data-selected='true'] {
  background: coral;
}
