body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .player {
    font-weight: bold;
    font-size: 1.7em;
    &.x {
      color: tomato;
    }
    &.o {
      color: cornflowerblue;
    }
  }

  .board {
    width: 60vmin;
    height: 60vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;

    .field {
      height: 75px;
      width: 75px;
      user-select: none;
      cursor: pointer;
      border: 1px solid black;
      padding: 0.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4em;

      &:hover {
        background: gray;
      }

      &[data-selected='true'] {
        background: lightgray;
        cursor: not-allowed;
      }

      &[data-value='x'] {
        color: tomato;
      }

      &[data-value='o'] {
        color: cornflowerblue;
      }
    }
  }
}
